.card__footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__footer button {
  width: 40%;
  height: 40px;
  color: white;
  background-color: green;
  font-size: 16px;
  font-weight: 600;
  font-family: sans-serif;
  border-radius: 8px;
  border: 1px solid green;
}

.card__footer span {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

/* Navbar */

.navbar_nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
}

.navbar_nav .logo a img {
  width: 100px;
}

.logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo a span {
  font-size: 28px;
  font-weight: 700;
  color: black;
}

.navbar_nav_btns {
  display: flex;
  align-items: center;
}

.navbar_product__search input {
  width: 250px;
  height: 34px;
  padding: 0 5px;
  outline: none;
  font-size: 18px;
  border-radius: 5px !important;
  border: 1px solid grey;
}

.navbar_product__search .search_btn {
  position: relative;
  right: 64px;
  bottom: 2px;
  border-radius: 5px !important;
}

.books_cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 20px 100px;
}

.card {
  width: 400px;
}

input {
  width: 95%;
  height: 40px;
  margin-top: 10px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 500;
}

textarea {
  width: 90%;
  height: 100px;
  margin-top: 10px;
}

.navbar__btns {
  display: flex;
  gap: 20px;
}

.google_register {
  width: 100% !important;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
  background-color: rgb(255, 65, 49) !important;
}


.google_register .google_icon, .google_register span{
  color: white;
}

@media (max-width: 768px) {
  .books_cards {
    justify-content: center;
  }
}
